mat-card{
  padding: auto;
}

mat-form-field,
textarea {
  width: 80%;
  margin-top: 2%;
  margin-left: 5%;

}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
  margin-left: 5%;
}

.image-preview img {
  height: 100%;
}

.pick{
  margin-left: 5%;
}

.save{
  margin-bottom: 2%;
  margin-left: 5%;
}
